extends layout
block content
 h1 About Us
 h3(style=" color: #FF333") If you are looking for IT services for your home computer or laptop, you will find them here! PC Repair is a computer and laptop repair company that provides home PC users with advice and specialist repair expertise. We operate a No fix no fee policy. If we are unable to provide a quote for your PC/Laptop there's no charge.